html {
	font-family: "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
	font-size: 0.9em;
	background: #fafafa;
}
	
body {
	width: 75%;
	max-width: 1200px;
	min-width: 600px;
	margin: 1em auto 2em auto;
	background: #eee;
	padding: 2px;
}
#container {
	padding: 0.5em;
	background: #fff;
	border: solid 1px #ddd;
}

header {
	overflow: hidden;
	zoom: 1;
	border-bottom: 1px solid #ddd;
	padding: 1em 1em 0 1em;
	padding-left: 12em;
	background: 0.5em center no-repeat url("SCAM_logo.png");
}

header p {
	text-align: center;
	margin :0;
}

header p img {
	margin: 0.25em;
	border: 1px solid #ddd;
}

header h1 {
	font-size:1.5em;
	margin: 0;
}
header h2 {
	font-size:1.2em;
	margin: 0.3em 0 0.7em 0;
}

#wrapper {
	display: inline-block;
	border-left: 12em solid #fff;
	position: relative;
	vertical-align: bottom;
}

#sidebar {
	float: left;
	width: 12em;
	position: relative;
	margin-left: -12em;
	margin-right: -1px;
	border-right: solid 1px #ddd;
}
#sidebar h3 {
	font-size:1em;
	margin: 0.5em;
	margin-bottom: 0;
	width: 100%;
	text-align: center;
	color: #555;
}
#sidebar nav ul {
	background: #fcfcfc;
	border: 1px solid #ddd;
	padding: 0;
	margin: 0 0.5em 2em 0.5em;
}
#sidebar nav ul ul {
	margin: 0 0 0 1em;
	border: none;
}
#sidebar nav li {
	position: relative;	
}


#sidebar nav a.current {
	font-weight: bold;
}

#sidebar nav a {
	display: block;
	text-decoration: none;
	line-height: 1.1em;
	padding: 0.2em 0.5em;
}
#sidebar nav li a:hover {
	text-decoration: underline;
	position: relative;	
}

#sidebar section {
	margin-right:0.5em;
}
#announcements {
	margin-left:0.5em;
}
#announcements ul {
	list-style: none;	
	margin: 0;
	padding: 0;
	padding-left: 1em;
	text-indent: -1em;
	font-size:0.9em;
	line-height:1.1em;
}

#announcements li {
	padding-bottom: 0.25em;
}
#announcements li:before {
	content: "\00BB \0020";
}



#main {
	float: left;
	border-left: solid 1px #ddd;
	padding-left: 1em;
}

footer {
	position: absolute;
	width: 75%;
	max-width: 1200px;
	min-width: 600px;
	font-size: 0.8em;
	color: #333;
	padding: 0.5em;
	text-align: center;
}

section {
	line-height: 1.3em;
}

section p {
	margin: 1em 0 0 0;
}

a {
  color: #005580;
}
a:hover {
  color: #08c;
}

#facebookFallback {
	display: none;
}
#twitterFallback {
	display: none;
}

#twitter iframe {
	width: 11.5em;
}

#main table {
	border-collapse: none;
	border-spacing: 0;
	margin: 0.5em 0;
	border: 1px solid #ccc;
	line-height: 1.4;
}
#main thead {
	background: #f5f5f5;
}

#main thead tr {
	border-bottom: 1px solid #ccc;	
}

#main tbody {
	text-height: 1.3;
}
#main tr:first-child {
	border-top: none;
}
#main tr {
	border-top: 1px solid #eee;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0.3em;
}
#main td {
	padding: 0.2em 1em 0.2em 0;
}
#main td:first-child {
	padding-left:0.5em;
}
#main td:last-child {
	padding-right:0.5em;
}
