@charset "utf-8";

/* Common styles */

body {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 10px 20px;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	outline: none;
}

img {
	border: 0;
}

.thumb-container {
    border-width: 1px;
    border-style: dashed;
}

h1 {
	font-size: 1.8em;
	font-weight: bold;
	margin: 10px;
	letter-spacing: 4px;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 10px;
}

p {
	margin: 0;
}

.clearer {
	clear: both;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.center {
	text-align: center;
}

.border, .box {
    border-width: 1px;
    border-style: solid;
}

.box {
	opacity: 0.6;
    	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter:alpha(opacity:60);
	padding: 5px;
	margin: 0;
	background-color: #333;
	color: #fff;
}

.label {
	position: absolute;
	top: 9px;
	left: 9px;
	opacity: 0.6;
    	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter:alpha(opacity:80);
	background: #333;
	color: #fff;
	font-size: 0.7em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 4px;
}

#comment {
	margin: 0 10px;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 2px;
}

#header {
	text-align: center;
}

#navigation {
	margin: 0 20px;
	padding: 10px;
}

#comment,
#navigation {
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
    	border-right-style: solid;
	border-left-style: solid;
    	border-bottom-style: solid;	
     text-align: center;
}

#content {
	margin: 10px 20px 20px 20px;
}

#footer {
	font-size: 0.8em;
	padding: 5px;
	text-align: center;
}

.thumb-container {
	position: relative;
	padding: 8px;
	display: block;
	cursor: pointer;
}

* html .thumb-container {
	height: 1px;	
}
