@charset "utf-8";

/* Index styles */

#thumb-navigation {
	margin: 0 auto;
}

.thumb-container,
.icon-container {
	margin: 10px 10px 0 0;	
}

* html .icon-container {
	height: 1px;
}

.icon-container {
	cursor: pointer;
	padding: 8px;
	position: relative;
    	border-width: 1px;
	border-style: dashed;
	background-repeat: no-repeat;
	background-image: url(folder.gif);
	display: block;
}

.icon-container:hover {
	background-repeat: no-repeat;
	background-image: url(folder-2.gif);
}
