@charset "utf-8";

/* Slide styles */

#thumb-navigation {
	margin: 0 0 0 10px;
	display: inline;
}

#thumb-navigation .thumb-placeholder,
#thumb-navigation .thumb-container {
	margin: 0 0 10px 0;
}

#thumb-navigation .thumb-placeholder {
	font-size: 1.4em;
	padding: 10px;
}

#thumb-navigation .thumb-placeholder p {
	margin: 8px 0;
}

#image-container {
	position: relative;
	margin: 10px auto;
}

#image-info {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 0 10px;
	overflow-y: auto;
	text-align: left;
}

#image-info p {
	font-weight: bold;
	font-size: 1.1em;
	margin: 10px 0;
	text-transform: uppercase;	
}

#image-info dl {
	font-size: 0.9em;
	padding-bottom: 10px;
}

#image-info dt {
	margin: 3px 0 0 0;
	font-weight: bold;
}

#image-info dd {
	margin: 0 20px 3px 0;
}
