h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.w-75 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 15px;
}

td{
  border: 1px solid black;
  border-left: none;
	border-right: none;
}