/*<group=General Styles>*/

body {
	font: 13px   'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif; /*body font*/
	/*margin: 0px 10px 0px 40px;*/
	color: #7d7644;
	background: url(images/body_bg.png) repeat-x scroll #988f52;
	text-align: left;
	width: 900px; /* 750px */
	margin: auto;	
}

p { 
}

b, strong {
	font-weight: bold;
}

a:link {
	color: #3F4B19; /*#9f8f63;*/
	text-decoration: none;
}

a:visited {
	color: #3F4B19; /*#9f8f63; */
	text-decoration: none;
}

a:hover, a:active {
	color:  #46531C; /*#7d7644;*/
	text-decoration: underline;
}

.image-left {
	margin: 3px;
	padding: 3px;
	float: left;
}

.image-right {
	margin: 3px;
	padding: 3px;
	float: right;
}
	
/*</group>*/

/*<group=Layout>*/

#container {
	background: #FFFFFF repeat-y left  url(images/sidebar_bg.png);
	width: 890px; /*730px;*/
	text-align: left; 
	color: #4D2825; /*#3F4B19;/*#4C4D2A;  #4D2825; #7d7644; /*font-color of body text */
	font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	
}

#pageHeader {
	width: 890px;/*730px;*/
	text-align: left;
	list-style: none;
	height: 83px;
	background: #ffffff;
}

#pageHeader img {
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

#pageHeader h1 {
	color: #3F4B19; /*#7d7644;*/
	margin: 0px;
	font-weight: normal;
	font-size: 26px; /* font size of title */
	padding: 15px 20px 10px 190px; /* 10px space before slogan */
}

#pageHeader h2 { /* font of slogan */
	color: #4E6322; /*#687C2A; /*#7d7644; /*#988f52;*/
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
	padding-right: 20px;
	padding-left: 190px;
}

#bannerContainer {
	width: 890px;/*730px;*/
	float: left;
	text-align: left;
	background: url(images/banner.jpg) no-repeat;
	height: 176px;
	margin: 0px;
}

#contentContainer {
	text-align: left;
	float: right;
	width: 720px;/*550px;*/
	padding-bottom: 20px;	
}

#contentContainer #content {
	line-height: 1.5em;
	padding-right: 30px;
	padding-left: 10px;
	padding-top: 21px;	
}

#sidebarContainer {
	width: 167px;/*167px;*/
	float: left;
	text-align: left;
}

#sidebarContainer .sidebar {
	line-height: 1.5em;
	padding: 10px;
	
}

#footer {
	background: repeat-x  url(images/footer_bg.png);
	text-align: center;
	color: #ffffff;
	height: 20px;
	padding-top: 10px;
}

#footer a {
	color: #7d7644;
}

#footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}
	
/*</group>*/

/*<group=Bread-crumb>*/

#breadcrumbcontainer {
	background: #ffffff;
	text-align: right;
	width: 850px;/*720px*;*/
}

#breadcrumbcontainer ul {
	display: inline;
	list-style: none;
	position: relative;
	top: 5px;
	margin: 0px 0px 5px 0px;
	width: 850px;/*720px;*/
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	color: #9f8f63;
}

#breadcrumbcontainer a:hover {
	text-decoration: underline;
	color: #9f8f63;
}
	
/*</group>*/

/*<group=Toolbar>*/

/* Toolbar Styles */

#navcontainer {
	padding-top: 5px;
	width: 168px;/*168px;*/
	line-height: 14px;
	color: #ffffff;
}

#navcontainer #current {
	color: #ffffff;
	font-weight: bold;
	background: #a89883;
}

/* Parent - Level 0 */

#navcontainer ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#navcontainer li { 
}

#navcontainer a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding-left: 10px;
	height: 15px;
}

#navcontainer a:hover {
	color: #ffffff;
	background: #7d7644;
}

/* Child - Level 1 */

#navcontainer ul ul {
	padding: 0px;
	margin: 0px;
}

#navcontainer ul ul li { 
}

#navcontainer ul ul a {
	display: block;
	text-decoration: none;
	padding-left: 20px;
	color: #ffffff;
	font-size: 11px;
	height: 15px;
}

#navcontainer ul ul a:hover {
	background: #7d7644;
}

/* Child - Level 2 */

#navcontainer ul ul ul {
	color: #c4c78f;
}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a {
	display: block;
	text-decoration: none;
	padding-left: 35px;
}

#navcontainer ul ul ul a:hover {
	background: #7d7644;
}

/* Child - Level 3 */

#navcontainer ul ul ul ul {
	color: #999999;
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a {
	display: block;
	text-decoration: none;
	padding-left: 50px;
}

#navcontainer ul ul ul ul a:hover {
	background: #7d7644;
}

/* Child - Level 4 */

#navcontainer ul ul ul ul ul {
	color: #b3b3b3;
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a {
	display: block;
	text-decoration: none;
	padding-left: 65px;
}

#navcontainer ul ul ul ul ul a:hover {
	background: #7d7644;
}

/* Child - Level 5 */

#navcontainer ul ul ul ul ul ul {
	padding: 0px;
	margin: 0px 0px 0px 15px;
	color: #cccccc;
}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a {
	display: block;
	text-decoration: none;
	padding-left: 60px;
}

#navcontainer ul ul ul ul ul ul a:hover {
	background: #7d7644;
}
	
/*</group>*/

/*<group=Global Classes>*/

.standout {
	background: #9f8f63;
	font-size: 12px;
	color: #ffffff;
	padding: 10px;
	font-style: italic;
	font-weight: bold;
}

h1 {
	color: #988f52;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 3px;
}

h2 {
	color: #988f52;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 3px;
}

h3 {
	color: #988f52;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 3px;
}

h4 {
	color: #988f52;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 3px;
}

h5 {
	color: #988f52;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 3px;
}

.imageStyle {
	border: none;
}
	
/*</group>*/

/*<group=Blog>*/

/*<group=Archive Page>*/

.blog-archive-background {	color: #000000;	text-align: center; /* To Make Content Centered */	font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
	background: #ffffff;
}.blog-archive-headings-wrapper {
	text-align: left;
	width: 590px;
	padding: 10px;
}

.blog-archive-entries-wrapper {
	text-align: left;
	width: 590px;
	padding: 10px;
}.blog-archive-month {
	color: #988f52;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 3px;
}.blog-archive-link { 
}
	
/*</group>*/

.blog-entry {
}

.blog-entry-title {
	color: #988f52;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 3px;
}

.blog-entry-date {
	margin-bottom: 10px;
	margin-top: 5px;
}

.blog-entry-body {
	margin-bottom: 30px;
	border-bottom: 1px dotted #59554c;
	padding-bottom: 10px;
}
	
/*</group>*/

/*<group=File Sharing>*/

.filesharing-description {
	margin-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
}

.filesharing-item {
	
}

.filesharing-item-title {
	color: #988f52;
	font-size: 14px;
	font-weight: normal;
}

.filesharing-item-description {
	margin-bottom: 10px;
}

/*</group>*/

/*<group=Photo Album>*/

/*<group=Index Page (Thumbnail view)>*/

.album-title {
	color: #988f52;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 3px;
}

.album-description {
}

.thumbnail-frame {
	margin: 0px;
	padding: 0px;
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	border-style: none;
}

.thumbnail-caption {
	color: #808080;
	margin-top: 3px;
	font-size: 11px;
}
	
/*</group>*/

/*<group=Single Page (Photo view)>*/

.photo-background {
	text-align: center;
	margin: 10px;
	background: #251a1d;
}

.photo-navigation {
	padding: 10px;
	text-align: left;
	background: #988f52;
	margin-bottom: 10px;
}

.photo-navigation a {
	color: #ffffff;
}

.photo-navigation a:hover {
	color: #9f8f63;
	text-decoration: underline;
}

.photo-frame{
	margin: 0px;
	border: 5px solid #ffffff;
}

.photo-links {
}

.photo-title {
	color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
}

.photo-caption {
	font-size: 13px;
	margin: 0px;
	color: #ffffff;
}

/*</group>*/
	
/*</group>*/

/*<group=Quicktime Page>*/

.movie-description {
	text-align: center;
}
	
/*</group>*/

/*<group=Quicktime Album>*/

/*<group=Index Page (Movie Thumbnail view)>*/

.movie-page-title {
	color: #988f52;
	font-size: 24px;
	font-weight: normal;
	text-align: left;
}.movie-page-description {	
	margin-top: 5px;
	margin-bottom: 10px;
}.movie-thumbnail-frame {
	float: left;
	display: inline;
	margin-bottom: 10px;
	margin-right: 10px;
}

.movie-thumbnail-caption {
	text-align: center;
	color: #808080;
	margin-top: 3px;
	font-size: 11px;

}
	
/*</group>*/

/*<group=Single Page (Movie View)>*/

.movie-background {
	background: #ffffff;
	margin-top: 5px;
}

.movie-title {
	color: #988f52;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}

.movie-frame {
	text-align: center;
	margin-bottom: 10px;
}
	
/*</group>*/


/*</group>*/


