.container {
  font-family: Roboto,sans-serif;
  line-height: 1.5;
}

.question {
  padding: 16px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.info {
  flex: 1;
  width: 50%;
}

.name {
  font-weight: 600;
}

.date {
  font-size: .8rem;
  color: rgba(0,0,0,.4);
}

.like {
	border: 1px solid lightgray;
	border-radius: 50px;
	padding: 3px 10px;
  color: rgba(0,0,0,.4);
}
