 
/* start css.sty */
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmr-17{font-size:170%;}
.cmbx-12x-x-144{font-size:172%; font-weight: bold;}
.cmbx-12x-x-144{ font-weight: bold;}
.cmbx-12x-x-144{ font-weight: bold;}
.cmr-12{font-size:120%;}
.cmtt-10{font-family: monospace;}
.cmbx-12{font-size:120%; font-weight: bold;}
.cmbx-12{ font-weight: bold;}
.cmbx-12{ font-weight: bold;}
.cmti-10{ font-style: italic;}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
br.index-segment:first-child {display:none}
.index-item br, .index-subitem br, .index-subsubitem br {display:none}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.subsectionToc, .likesubsectionToc {margin-left:2em;}
.subsubsectionToc, .likesubsubsectionToc {margin-left:4em;}
.figure img.graphics {margin-left:10%;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
div.array {text-align:center;}
span.textso{letter-spacing: 0.3em; word-spacing: 0.3em}
span.textul{text-decoration:underline}
span.textst{text-decoration:line-through}
span.textcaps{font-variant:small-caps}
body { background: #fff; border-top: 0px solid #e8f1e0; font: normal 12px/1.6em Verdana, Geneva, sans-serif; color: #695d47; }
#wrapper { min-width:700px; max-width:1100px; margin:0 auto; }
#sidecontent { background: #fff; float: left; padding: 10px 0px 10px 5px; margin: 0px 0px 0px 0px; border: 0px solid #666; width: 210px; clear:left; }
#sidecontent a { text-decoration: none; border-bottom:none; }
#maincontent,.maketitle { padding: 5px 0px 0px 10px; margin-left:210px; background: #FFF; }
p {padding: 0; margin: 0 0 15px 0; color: #695d47; }
.author {padding: 0; margin: 0 0 15px 0; color: #5A5242; }
p a ,.author a,.enumerate a, ul a, .description a{ color: #353027; text-decoration: none; border-bottom: 1px dotted #B2B17A; }
 .author a:hover, .enumerate a:hover, ul a:hover{ color: #b3a386; text-decoration: none; border-bottom: 1px solid #b3a386; }
p a:hover{ color: #b3a386; text-decoration: none; }
.sectionHead{ /* Section title */ color: #6a604e; padding: 0 0 0 0; text-shadow: #333 1px 1px 0; font: bold 24px Arial, Helvetica, sans-serif; text-transform: uppercase; border-bottom: 1px solid #8F651C; }
.titleHead{ color: #6a604e; padding: 0 0 4px 0px; text-shadow: #000 1px 1px 0; font: bold 14px "Comic Sans MS", cursive, sans-serif; }
.sectionToc { padding: 0 0 0 12px; margin: 0 6px 6px 0px; font: normal 12px/2.0em "Tahoma", "Bitstream Vera Sans", sans-serif; color: #6a604e; background: transparent url(pictures/entry_small.gif) 0 5px no-repeat; }
.sectionToc a { color: #6a604e; font-weight: bold; text-decoration: none; }
.sectionToc a:hover { color: #fff; border-bottom: 1px solid #BBC775; background: #6a604e; }
.subsectionToc { padding: 0 0 0 10px; margin: 0 6px 6px 6px; font: normal 12px/1.6em "Lucida Grande", "Lucida Sans Unicode", "Lucida", "Verdana", sans-serif; color: #E36060;}
.subsectionToc a { color: #E36060; text-decoration: none; border-bottom: 1px dotted #CFA55C; }
.subsectionToc a:hover { color: #fff; background: #64B3BC; border-bottom: 1px solid #E17070; }
.crosslinks { padding: 5px 0px 0px 0px; margin: 0px 0 0 0px; font: bold 12px/1.3em "Tahoma", "Lucida Grande", "Bitstream Vera Sans", "Verdana", sans-serif; color: #000; }
.crosslinks a { padding: 2px 10px 2px 10px; margin: 0 0px 0 1px; color: #E36060; background: #F2F2ED; text-decoration: none;}
.crosslinks a:hover { color: #fff; background: #E36060; text-decoration: none;}
a img { text-decoration: none; border: 0px; }
a:hover img, p a:hover img{ text-decoration: none; }
div.tabular{ float: left; background: #fff; margin-top:5px; margin-bottom:5px;}
div.center div.tabular { float: none; background: #fff; margin-top:0.5em; margin-bottom:0.5em; }
#gallery { position:relative; float: left; width:600px; height:600px; background-color:#fff; margin:10px auto; text-align:left;}
#gallery a { display:block; width:50px; padding:5px 1px; height:25px; background-color:#949e7c; color:#fff; text-decoration:none; float:left; margin:0 1px 1px 0;text-align:center;}
#gallery a img { display:none; position:absolute; border:1px solid #000;}
#gallery a:hover { background:#d4d8bd; color:#000;}
#gallery a:hover img { display:block; position:absolute; left:20px; top:60px; z-index:20; -o-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4); -icab-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4); -khtml-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4); -moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4); box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4); }
.description{ overflow: auto; padding: 0px 10px 10px 10px; margin: 20px 0px 0px 0; background-color: #fff; color:#695d47; display:block; -moz-border-radius: 4px 4px 4px ; -webkit-border-radius: 4px 4px 4px 4px; -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6); -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6); box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6); }
/* end css.sty */

