h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.w-75 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

li > a.nav-highlight {
  font-weight: bold;
  color: white !important;
  background-color: #5cb85c !important;
}

.table-highlight, .table-highlight > td > a {
  font-weight: bold;
  color: white !important;
  background-color: #5cb85c !important;
  text-decoration: none;
}

#program .panel-heading {
  font-weight: bold;
}

#program td:first-child {
  width: 17%;
}

#program b {
  display: block;
}

#program small {
  font-style: italic;
}
